<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--common settings-->
  <arg name="lidar" default="true"/> <!--rplidar-a2 ros node-->
  <arg name="teleop" default="true"/>
  <arg name="rtk_gps" default="false"/>
  <arg name="hector" default="false"/>
  <arg name="gmapping" default="false"/> 
  <arg name="twist_mux" default="false"/>
  <arg name="robot_localization" default="false"/>
  <arg name="amcl" default="false"/>
  <arg name="gps_goal" default="false" />
  <arg name="move_base" default="false"/>
  <arg name="have_map" default="false" doc="set to true to load pre-saved map"/>
  <arg name="map" default="map.yaml" doc="pre-saved map path"/>

  <!--berserker ros node-->
  <include file="$(find berserker_bringup)/launch/berserker_bringup.launch"/>

  <!--joy ros node-->
  <group if="$(arg teleop)">
    <include file="$(find iqr_teleop)/launch/joy_teleop.launch"/>
  </group>

  <!--rtk_gps-->
  <group if="$(arg rtk_gps)">
    <include file="$(find rtk_gps)/launch/rtk_gps.launch"/>
  </group>

  <!--rplidar-a2 ros node-->
  <group if="$(arg lidar)">
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  </group>

  <!--twist_mux ros node-->
  <group if="$(arg twist_mux)">
    <include file="$(find ros_twist_mux)/launch/twist_mux.launch" />
  </group>

  <!--gmapping slam ros node-->
  <group if="$(arg gmapping)">
    <include file="$(find berserker_navigation)/launch/gmapping.launch"/>
  </group>

  <!--hector slam ros node-->
  <group if="$(arg hector)">
    <include file="$(find berserker_navigation)/launch/hector.launch"/>
  </group>

  <!--robot_localization ros node-->
  <group if="$(arg robot_localization)">
    <include file="$(find berserker_navigation)/launch/robot_localization.launch" />
  </group>

  <!--map server ros node-->
  <group if="$(arg have_map)">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find berserker_navigation)/maps/$(arg map).yaml" />
  </group>

  <!--amcl ros node-->
  <group if="$(arg amcl)">
    <include file="$(find berserker_navigation)/launch/amcl.launch"/>
  </group>

  <!--gps_goal-->
  <group if="$(arg gps_goal)">
    <node name="current_gps_pub" pkg="gps_goal" type="current_gps_pub" />
  </group>

  <!--move_base ros node-->
  <group if="$(arg move_base)">
    <include file="$(find berserker_navigation)/launch/move_base.launch" />
  </group>

</launch>
